@use '../../scss/' as *;
.datePicker {
  background-color: $background;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  border-radius: $rounded-md;
  padding: 10px;
  &__header {
    @include flex(center, center);
    &__year {
      @include flex(center, center);
      gap: 0.5rem;
    }
    &__month {
      @include flex(center, center);
      gap: 0.5rem;
    }
  }

  &__content {
    &__container {
      display: grid;
      gap: 0.25rem;
      grid-template-columns: repeat(7, minmax(2rem, 2rem));
      place-content: center;
      &__day {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
