@use '../../scss/' as *;
.datePicker {
  background-color: $background;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  border: 1px solid $surface;
  border-radius: $rounded-md;
  padding: 10px;
  font-size: 0.8rem;
  &__header {
    @include flex(center, center);
    &__year {
      @include flex(center, center);
      gap: 0.5rem;
    }
    &__month {
      @include flex(center, center);
      gap: 0.5rem;
    }
  }

  &__content {
    &__container {
      display: grid;
      gap: 0.25rem;
      grid-template-columns: repeat(7, minmax(1.5rem, 1.5rem));
      place-content: center;

      &__day {
        @include flex(center, center);
      }
    }
  }
}
